*~
*#
.envrc
.direnv
*.pyc
install
Testing
__pycache__
*.o
*.so
node_modules/
*.exe
a.out
.mypy_cache
.python-version
core
_skbuild/
pip-wheel-metadata/
*.egg-info
result
*.gcov
.DS_Store
*.uid
*.nsys-rep
*.sqlite
