[commit]
	gpgsign = true
[alias]
	s = status
    d = diff
	co = checkout
	g = grep
[user]
	signingkey = 879C96BCBDAA8CF94046E6CC80AEF83FA91D6A9D
	email = takechi101010@gmail.com
	name = take-cheeze
[core]
	excludesfile = ~/.gitignore
	longPaths = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[merge]
	conflictstyle = diff3
[init]
	templatedir = ~/.git_template
[grep]
	lineNumber = true
[submodule]
	fetchJobs = 4
